<ion-header>
  <ion-toolbar>
    <ion-title>Place Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="place">
    <ion-card-header>
      <ion-card-title>{{ place?.name }}</ion-card-title>
      <!-- "?" refer to if empty no error -->
    </ion-card-header>
    <ion-card-content>
      <p>{{ place?.country }}</p>
      <p>{{ place?.description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <h3>Reviews</h3>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/Legoland-Malaysia.jpg" />
        </ion-thumbnail>
        <ion-label text-wrap>
          <h2>Email</h2>
          <p>Rating</p>
          <p>Comment</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button
      color="primary"
      slot="end"
      expand="full"
      routerLink="/add-review"
      >Add New Review</ion-button
    >
  </ion-card>
</ion-content>
