<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Place & Discovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      button
      *ngFor="let place of places"
      [routerLink]="['/detail', place._id]"
    >
      <ion-thumbnail slot="start">
        <img src="/assets/Legoland-Malaysia.jpg" />
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>{{ place.name }}</h2>
        <p>{{ place.country }}</p>
        <p>{{ place.description }}</p></ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
