<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-icon name="chatbubbles" style="zoom:2.0;"></ion-icon
      ><ion-title>Rate & Review</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>Description</ion-label>
      <textarea
        class="form-control"
        placeholder="Share details of your own experience at this place"
        id="descriptions"
        rows="3"
        name="editor1"
      ></textarea>
    </ion-item>
    <button type="button" class="btn btn-primary" (click)="addReviewPost()">
      <!-- ng-click="postdata(name, description, country)" -->
      Save changes
    </button>
  </form>
</ion-content>
