<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-icon name="chatbubbles" style="zoom:2.0;"></ion-icon
      ><ion-title>Rate & Review</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rating</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comment</ion-label>
      <ion-textarea type="text"></ion-textarea>
    </ion-item>
    <ion-button color="danger" (click)="addReviewPost()">
      <!-- ng-click="postdata(name, description, country)" -->
      Add Review
    </ion-button>
  </ion-card>
</ion-content>
